body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #f1f1f1;
}

.container {
  text-align: center;
  
}

.container h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.container button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #388E3C;
}

i{
  font-size:100px;
}

#i-sucess{
  color:#388E3C;
}

#i-error{
  color:rgba(255, 157, 0, 0.976);
}

#btn_search:hover {
  cursor: pointer;
}